@tailwind base;
@tailwind components;
@tailwind utilities;

.verticalCss h1 {
    /*it convert the text into vertical mode */
    writing-mode: vertical-lr;
}

/* flip image  */
.flip-imgage img {
    height: 60vh;
    width: auto;
    /* for getting us licence in web  */
    transform: scaleX(-1);
    /* transform: scaleY(-1); */
}


/* smooth scrolling  */
html {
    scroll-behavior: smooth;
}

.scroll-1 {
    height: 100vh;
    width: 100%;
}

.scroll-2 {
    height: 100vh;
    width: 100%;
}

/* this is scroll behavior */
.snap-scroll-parent {
    width: 30%;
    height: 500px;
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    /* we can resize the every element by doing this  */
    /* resize: both; */
    /* resize: horizontal; */
    /* resize:vertical; */
}

/* snap horizontali scroll  */
.snap-child {
    width: 100%;
    height: 500px;
}

/* for text truncate  */
.truncate-class p {
    max-width: 20rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* for making a text gradient  */

.before-gradient {
    background: linear-gradient(#536976, #292E49);
}

.after-gradient {
    background: linear-gradient(#334d50, #cbcaa5);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color:blue; */
    -webkit-text-fill-color: transparent;

}

.objectFitclass {
    height: auto;
    background-color: black;
}

.objectFitclass img {
    height: auto;
    object-fit: contain;
}

.pointer_event {
    /* it does not select the text when we want to select it with cursour*/
    /* pointer-events: none; */
    opacity: 1;
    animation: fade 2s infinite ease-in 1s;
    pointer-events: none;
    opacity: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

