.verticalCss h1 {
    /*it convert the text into vertical mode */
    writing-mode: vertical-lr;
}

/* flip image  */
.flip-imgage img {
    height: 60vh;
    width: auto;
    /* for getting us licence in web  */
    transform: scaleX(-1);
    /* transform: scaleY(-1); */
}


/* smooth scrolling  */
html {
    scroll-behavior: smooth;
}

.scroll-1 {
    height: 100vh;
    width: 100%;
}

.scroll-2 {
    height: 100vh;
    width: 100%;
}


.snap-scroll-parent {
    width: 30%;
    height: 500px;
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    /* we can resize the every element by doing this  */
    resize: both;
}

.snap-child {
    width: 100%;
    height: 500px;
}